<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="SunRunTestDataCreation">

    <listeners>
        <listener class-name="com.qa.ExtentReportListener.ExtentReportListener" />
    </listeners>



     <test name="Account Test">
         <classes>
             <class name="com.crm.qa.testcases.AccountTest"/>
         </classes>
     </test>


    <test name="Contact Test">
         <classes>
             <class name="com.crm.qa.testcases.ContactTest"/>
         </classes>
     </test>


    <test name="Opportunity Test">
         <classes>
             <class name="com.crm.qa.testcases.OpportunityTest"/>
         </classes>
     </test>


     <test name="Proposal Test">
         <classes>
             <class name="com.crm.qa.testcases.ProposalTest"/>
         </classes>
     </test>


    <test name="Project Test">
        <classes>
            <class name="com.crm.qa.testcases.ProjectTest"/>
        </classes>
    </test>


      <test name="Service Contract Test">
          <classes>
              <class name="com.crm.qa.testcases.ServiceContractTest"/>
          </classes>
      </test>




 </suite>